// Intro
.intro {
	@include grid-row();

	.fp-intro {
		
		@include breakpoint(small) {
			@include grid-column(12);
			text-align: center;
		}

		@include breakpoint(medium) {
			@include grid-column(8);
			@include grid-column-offset(2);

			h2 {
				font-weight: 300;
				margin-bottom: 1.5rem;
			}

			h4 {
				font-size: 1.125rem;
				line-height: 1.6;
				color: #777;
				margin-bottom: 2rem;
			}

		}
	}
}


// Band
// The main band element wraps
.band {

	text-align: center;
	padding: 3rem 0;
	@include grid-row();

	// the band header
	header {
		@include grid-column(12);
	}

	// @TODO do something with these
	.semantic,
	.responsive,
	.customizable,
	.professional {
		@include breakpoint(small) {
			@include grid-column(12);
		}

		@include breakpoint(medium) {
			@include grid-column(3);
		}

	}

	// the band footer, where CTAs and other shit go
	footer {
		@include grid-column(12);
		padding: 1rem;
	}


	// color variations
	&.primary {
		background-color: map-get($foundation-palette, primary);
	}

	&.light-gray {
		background-color: $light-gray;
	}
}
