// Page header
.hero-unit {
	.marketing {
		@include grid-row();
		max-width: 55rem;
	}

	// settings for small screens
	@include breakpoint(small) {
		background-color: map-get($foundation-palette, primary);
		background-size: cover;
		background-position: bottom;
		padding: 15% 0;
		margin: 0 0 2rem;
		height: auto;
		position: relative;
		text-align: center;
	}

	// settings for medium and up
	@include breakpoint(medium) {
		background-size: cover;
		background-position: center;
		text-align: center;
	}

	.tagline {

		@include breakpoint(small) {
			@include grid-column(10);
			@include grid-column-offset(1);
		}

		@include breakpoint(medium) {
			@include grid-column(10);
			@include grid-column-offset(1);
		}

	}

	// overrides for headings
	h1 {
		color: #fff;

		@include breakpoint(small) {
			font-size: 2.2rem;
		}

		@include breakpoint(medium) {
			font-size: 2.875rem;
		}

	}

	h4 {
		color: #fefefe;
		font-size: 1.3125rem;
	}

	.button {
		margin-top: 1rem;
	}

}

// Intro
.intro {
	@include grid-row();

	.fp-intro {

		@include breakpoint(small) {
			@include grid-column(12);
		}

		@include breakpoint(medium) {
			@include grid-column(10);
			@include grid-column-offset(1);

			h2 {
				font-weight: 300;
				margin-bottom: 1.5rem;
			}

			h4 {
				font-size: 1.125rem;
				line-height: 1.6;
				color: #777;
				margin-bottom: 2rem;
			}

		}
	}
}

// Section divider
.section-divider {
	@include grid-row();

	hr {
		@include grid-column(12);
		@extend .dotted;
		box-sizing: border-box;
	}
}


// Band
.band {
	@include grid-row();
	text-align: center;

	// the band header
	header {
		@include grid-column(12);
	}

	// @TODO do something with these crackers
	.semantic,
	.responsive,
	.customizable,
	.professional {
		@include breakpoint(small) {
			@include grid-column(12);
		}

		@include breakpoint(medium) {
			@include grid-column(3);
		}

	}

	// the band footer, where CTAs and other shit go
	footer {
		@include grid-column(12);
		padding: 1rem;
	}


	// color variations
	&.primary {
		background-color: map-get($foundation-palette, primary);
	}

}
