.header-banner {

	@include responsive-vertical-padding(8vw, 2rem, 10rem, 3rem);
	margin-bottom: 2rem;
	position: relative;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	


	.caption {
		@include grid-column(12);
		position: relative;
		z-index: 1;
	}
}//.header-banner

// BLACKUP DIV
// Just include <div class="blackup"></div>
// within the header part and you will be blacked
// up real good
// -----------

.blackup {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba($black, 0.5)
}//blackup