.header-banner {
	@include responsive-vertical-padding(6vw, 1rem, 6rem, 2rem);
	position: relative;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;	
}//header-standard

.header-banner__container {
	@include xy-grid-container;
}//.header-standard__container

.header-banner__grid {
	@include xy-grid();
}//.header-standard__grid

.header-banner__caption {
	
	color: $body-font-color;
	position: relative;
	z-index: 1;
	
  @include breakpoint(small) {
    @include xy-cell(12);
  }

  @include breakpoint(medium) {
    @include xy-cell(8);
  }
  
  h1 {
    margin: 0;
  }
  
}//.header-standard__caption

// BLACKUP DIV
// Just include <div class="blackup"></div>
// within the header part and you will be blacked
// up real good
// -----------

.blackup {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba($black, 0.5)
}//blackup