#header-banner {

	padding: 5% 0;
	margin-bottom: 2rem;

	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

	@include breakpoint(large) {
		padding: 4rem 0;
	}


	.caption {
		@include grid-column(12);
	}
}

/*
@include breakpoint(small) {
	#featured-hero {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		margin: 0 0 rem-calc(32);
		position: relative;
		height: rem-calc(200);
		}

		.no-featured-image-set {
			height: rem-calc(16) !important;
		}
}

@include breakpoint(medium) {
	#featured-hero {
		height: rem-calc(400);
		}
}
*/
