// Navigation breakpoints
.desktop-menu, .top-bar-left {
  @include show-for(medium);
}

#mobile-menu, .title-bar {
  @include hide-for(medium);
}

// -----------
// Mobile menu
// -----------

	.title-bar {

		.menu-icon {
			float: right;
		}//menu-icon

	}//title-bar


// -----------
// Menu
// -----------


	.top-bar {

		.menu {

			li {

				// normal anchor styles here
				// -------------------------
				a {

					&:hover {
						background-color: $primary-color;
						color: $white;
					}//hover

				}//a

				// set the hover states for when we have a parent with a dropdown
				// --------------------------------------------------------------
				&.is-dropdown-submenu-parent.is-active {
					background-color: $primary-color;
					color: $white;
					a {
						&:hover, &:focus {
							color: $white;
						}
					}
				}

				// set active states for top level and dropdown anchors
				// ----------------------------------------------------
				&.active, &.current_page_item {

					a > {
						background-color: $primary-color;
						color: $white;
					}//a

					ul.dropdown {
						li.current_page_item {
							a {
								background-color: $primary-color;
								color: $white;
							}//a
						}//li
					}//dropdown

				}//&.active, &.current_page_item

			}//li

		}//menu

	}//top-bar

// -----------
// Off Canvas
// -----------

	.off-canvas {
	  > ul.menu {
	    height: 100vh;
	    padding: 1rem;
	  }
	}


// Basic styles for post navigation. Nicolas Gallagher's "Micro clearfix"
// https://css-tricks.com/snippets/css/clear-fix/
.post-navigation:before,
.post-navigation:after {
  content: "";
  display: table;
}

.post-navigation:after {
  clear:both;
}

.nav-previous { float:left; }
.nav-next { float:right; }
*/
