.sidebar {
  margin-top: 1rem;

  @include breakpoint(small) {
    @include grid-column(12);
  }

  @include breakpoint(medium) {
    @include grid-column(4);
    margin-top: 0;
  }

  // increase spacing between widgets
  .widget {
    margin-bottom: 2rem;
  }

  // remove bullets from list items
  ul {
    @extend .no-bullet;
  }

}
